[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
