---
import ContactFormDialog from "./ContactFormDialog"
---



<footer>
  <div>
    <div class="text-slate-400 float-left">
      © Philip Schmiegelt
    </div>
  </div>
  <div class="float-right">
    <ContactFormDialog client:only="react"/>
  </div>

</footer>